$color-navigation-background: #772953;
$increase-font-size-on-larger-screens: false;

@import "vanilla-framework";
@include vanilla;
@include vf-p-icon-comments;

main {
  padding-bottom: $spv--strip-regular;
}

.spec-card {
  display: flex;
  flex-direction: column;
  border-top: 3px solid #666;
  border-top-color: $color-negative !important;
  height: 100%;
}

.spec-card__header {
  display: flex;
  justify-content: space-between;
}

.spec-card__metadata-list {
  align-self: center;
  flex-grow: 1;
  margin: 0;
}

.spec-card--drafting,
.spec-card--braindump {
  border-top-color: $color-mid-dark !important;
}

.spec-card--pending {
  border-top-color: $color-caution !important;
}

.spec-card--active,
.spec-card--completed,
.spec-card--approved {
  border-top-color: $color-positive !important;
}

.spec-card__content {
  flex-grow: 1;
}

.spec-card__footer {
  align-items: center;
  background-color: $color-light;
  display: flex;
  justify-content: space-between;
}

.p-navigation.is-dark {
  background-color: $color-navigation-background;
}
.p-navigation__logo-tag {
  width: 0 !important;
}

.p-content {
  position: relative;
}

.sticky-sidebar {
  max-height: 100vh;
  padding-top: $spv--large;
  position: sticky;
  top: 0;
}

.l-fluid-breakout {
  .l-fluid-breakout__main {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    grid-gap: 1rem;
  }

  .l-fluid-breakout__toolbar {
    padding: 2rem 0;
  }

  @media screen and (max-width: $breakpoint-small - 1) {
    .l-fluid-breakout__toolbar {
      padding-bottom: 0;
    }

    .l-fluid-breakout__toolbar-items {
      width: 100%;
    }

    .l-fluid-breakout__toolbar-item {
      display: block;
      grid-column-end: auto;
    }
  }
}

// Match the same width as the fluid-breakout
.row,
.u-fixed-width,
.p-navigation__row {
  max-width: calc(2 * 14rem + $grid-max-width) !important;
}

.p-search-box__input {
  width: 20rem;

  @media screen and (max-width: $breakpoint-small - 1) {
    width: 100%;
  }
}

#no-results {
  grid-column: 1 / -1;
}
