<!DOCTYPE html>

<html>
  <head>
    <title>{% block title%}Canonical specs{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ versioned_static('css/styles.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/0843d517-favicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    <header id="navigation" class="p-navigation is-dark">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__item" href="#">
              <img class="p-navigation__image" src="https://assets.ubuntu.com/v1/2fcd45d2-logo-canonical-white.png" alt="Canonical" width="133" height="19" style="min-height: auto;">
            </a>
          </div>
        </div>
      </div>
    </header>
    <main class="p-content">
      <div class="p-divider row u-no-margin--bottom">
        <div class="p-divider__block col-4 sticky-sidebar">
          <!-- TODO: Replace with API-generated data -->
          <form>
            <label for="teamSelect">Team</label>
            <select name="teamSelect" id="teamSelect">
              <option value="all">All teams</option>
              <option value="AC">AC - Anbox Cloud</option>
              <option value="CE">CE - Ceph</option>
              <option value="CO">CO - Community</option>
            </select>
            <p class="u-no-margin--bottom">Type</p>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="standardType" class="p-checkbox__input">
              <span class="p-checkbox__label" id="standardType">Standard</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="informationalType" class="p-checkbox__input">
              <span class="p-checkbox__label" id="informationalType">Informational</span>
            </label>
            <label class="p-checkbox">
              <input type="checkbox" aria-labelledby="processType" class="p-checkbox__input">
              <span class="p-checkbox__label" id="processType">Process</span>
            </label>
            <label for="contributorSelect">Contributor</label>
            <select name="contributorSelect" id="contributorSelect">
              <option value="all">All contributors</option>
              <option value="person1">Person 1</option>
              <option value="person2">Person 2</option>
              <option value="person3">Person 3</option>
            </select>
            <label class="p-switch">
              <input type="checkbox" class="p-switch__input" role="switch">
              <span class="p-switch__slider"></span>
              <span class="p-switch__label">Show broken metadata</span>
            </label>
          </form>
        </div>
        <div class="p-divider__block col-8">
          <div class="p-strip is-shallow">
            <div class="row">
              <div class="col-12">
                <form class="p-search-box u-no-margin--bottom">
                  <label class="u-off-screen" for="q">Search</label>
                  <input type="search" id="q" class="p-search-box__input" name="q" placeholder="Search" required="" autocomplete="on" value="{{ query }}">
                  <button type="reset" class="p-search-box__reset"><i class="p-icon--close">Close</i></button>
                  <button type="submit" class="p-search-box__button"><i class="p-icon--search">Search</i></button>
                </form>
                <script>
                function initSearchResetButtons(selector) {
                  var resetButtons = [].slice.call(document.querySelectorAll(selector));

                  resetButtons.forEach(function (button) {
                    button.addEventListener('click', function () {
                      var input = button.parentNode.querySelector('input');

                      // Construct URLSearchParams object instance from current URL querystring.
                      var queryParams = new URLSearchParams(window.location.search);

                      // Set new or modify existing parameter value.
                      queryParams.set("q", "");

                      // Replace current querystring with the new one.
                      history.replaceState(null, null, "?"+queryParams.toString());
                      input.focus();
                    });
                  });
                }

                document.addEventListener('DOMContentLoaded', function () {
                  initSearchResetButtons('.p-search-box__reset');
                });
                </script>
              </div>
            </div>
          </div>
          {% block content %}{% endblock %}
        </div>
      </div>

      <hr class="u-no-margin--bottom" />
      <footer class="p-strip is-shallow">
        <div class="row">
          <div class="col-12">
            © {{ current_year }} Canonical Ltd. Ubuntu and Canonical are
            registered trademarks of Canonical Ltd.
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
