<!DOCTYPE html>

<html>
  <head>
    <title>{% block title%}Canonical specs{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ versioned_static('css/styles.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/0843d517-favicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    <header id="navigation" class="p-navigation is-dark">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__item" href="/">
              <img
                class="p-navigation__image"
                src="https://assets.ubuntu.com/v1/2fcd45d2-logo-canonical-white.png"
                alt="Canonical"
                width="133"
                height="19"
                style="min-height: auto"
              />
            </a>
          </div>
        </div>
      </div>
    </header>

    <main class="l-fluid-breakout">
      {% block content %}{% endblock %}
    </main>

    <hr class="u-no-margin--bottom" />
    <footer class="p-strip is-shallow">
      <div class="row">
        <div class="col-12">
          © {{ current_year }} Canonical Ltd. Ubuntu and Canonical are
          registered trademarks of Canonical Ltd.
        </div>
      </div>
    </footer>
    <script>
      const approvedStatusCheckbox = document.querySelector("#approvedStatus");
      const pendingReviewStatusCheckbox = document.querySelector("#pendingReviewStatus");
      const draftingStatusCheckbox = document.querySelector("#draftingStatus");
      const braindumpStatusCheckbox = document.querySelector("#braindumpStatus");
      const unknownStatusCheckbox = document.querySelector("#unknownStatus");
      const standardTypeCheckbox = document.querySelector("#standardType");
      const informationalTypeCheckbox =
        document.querySelector("#informationalType");
      const processTypeCheckbox = document.querySelector("#processType");
      const authorSelect = document.querySelector("#authorSelect");
      const teamSelect = document.querySelector("#teamSelect");
      const filteredCount = document.querySelector(".filtered-count");
      const specs = {{ specs|tojson }};
      const filters = {
        author: "all",
        statuses: [],
        team: "all",
        types: [],
      };
      const authorOptions = specs.reduce((acc, spec) => {
        const authors = spec.authors.split(",").map((author) => author.trim());
        authors.forEach((author) => {
          const exists = acc.some((option) => option === author);
          if (author && !exists) {
            acc.push(author);
          }
        })
        return acc;
      }, []);

      function filterCards() {
        const { author, statuses, team, types } = filters;
        const cards = document.querySelectorAll(".spec-card");
        let count = 0;
        cards.forEach((card) => {
          const inAuthor =
            author === "all" || card.dataset.authors.includes(author);
          const inStatuses =
            statuses.length === 0 ||
            statuses.includes(card.dataset.status) ||
            (statuses.some((status) => status === "Unknown") &&
              !["Approved", "Pending Review", "Drafting", "Braindump"].includes(
                card.dataset.status
              ));
          const inTeam = team === "all" || card.dataset.team === team;
          const inTypes =
            types.length === 0 || types.includes(card.dataset.type);
          if (inAuthor && inStatuses && inTeam && inTypes) {
            card.parentNode.classList.remove("u-hide");
            count++;
          } else {
            card.parentNode.classList.add("u-hide");
          }
          filteredCount.innerHTML = count;
        });
      }

      function generateOptions(select, options) {
        [...options].sort().forEach((option) => {
          const optionEl = document.createElement("option");
          optionEl.value = option;
          optionEl.text = option;
          select.add(optionEl, null);
        });
      }

      function updateListFilter(checked, filterKey, value) {
        if (filterKey in filters) {
          const newFilter = checked
            ? [...filters[filterKey], value]
            : filters[filterKey].filter((item) => item !== value);
          filters[filterKey] = newFilter;
          filterCards();
        }
      }

      function updateValueFilter(value, filterKey) {
        if (filterKey in filters) {
          filters[filterKey] = value;
          filterCards();
        }
      }

      function init() {
        const statusesFilter = [];
        const typesFilter = [];
        if (approvedStatusCheckbox.checked) statusesFilter.push("Approved");
        if (pendingReviewStatusCheckbox.checked) statusesFilter.push("Pending Review");
        if (draftingStatusCheckbox.checked) statusesFilter.push("Drafting");
        if (braindumpStatusCheckbox.checked) statusesFilter.push("Braindump");
        if (unknownStatusCheckbox.checked) statusesFilter.push("Unknown");
        if (standardTypeCheckbox.checked) typesFilter.push("Standard");
        if (informationalTypeCheckbox.checked)
          typesFilter.push("Informational");
        if (processTypeCheckbox.checked) typesFilter.push("Process");
        filters.author = authorSelect.value;
        filters.statuses = statusesFilter;
        filters.team = teamSelect.value;
        filters.types = typesFilter;
        filterCards();
      }

      teamSelect.addEventListener("change", (e) =>
        updateValueFilter(e.target.value, "team")
      );
      authorSelect.addEventListener("change", (e) =>
        updateValueFilter(e.target.value, "author")
      );
      approvedStatusCheckbox.addEventListener("change", (e) =>
        updateListFilter(e.target.checked, "statuses", "Approved")
      );
      pendingReviewStatusCheckbox.addEventListener("change", (e) =>
        updateListFilter(e.target.checked, "statuses", "Pending Review")
      );
      draftingStatusCheckbox.addEventListener("change", (e) =>
        updateListFilter(e.target.checked, "statuses", "Drafting")
      );
      braindumpStatusCheckbox.addEventListener("change", (e) =>
        updateListFilter(e.target.checked, "statuses", "Braindump")
      );
      unknownStatusCheckbox.addEventListener("change", (e) =>
        updateListFilter(e.target.checked, "statuses", "Unknown")
      );
      standardTypeCheckbox.addEventListener("change", (e) =>
        updateListFilter(e.target.checked, "types", "Standard")
      );
      informationalTypeCheckbox.addEventListener("change", (e) =>
        updateListFilter(e.target.checked, "types", "Informational")
      );
      processTypeCheckbox.addEventListener("change", (e) =>
        updateListFilter(e.target.checked, "types", "Process")
      );
      document.addEventListener("DOMContentLoaded", () => {
        generateOptions(authorSelect, authorOptions);
        init();
      });
    </script>
  </body>
</html>
