<!DOCTYPE html>

<html>
  <head>
    <title>{% block title%}Canonical specs{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ versioned_static('css/styles.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/0843d517-favicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    <header id="navigation" class="p-navigation is-dark">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__item" href="#">
              <img class="p-navigation__image" src="https://assets.ubuntu.com/v1/2fcd45d2-logo-canonical-white.png" alt="Canonical" width="133" height="19" style="min-height: auto;">
            </a>
          </div>
        </div>
      </div>
    </header>
    <main class="p-content">
      <div class="row">
        <nav class="p-tabs" aria-label="Status navigation">
          <ul class="p-tabs__list">
            <li class="p-tabs__item">
              <a href="/braindump" class="p-tabs__link" aria-selected="true">Braindump</a>
            </li>
            <li class="p-tabs__item">
              <a href="/drafting" class="p-tabs__link">Drafting</a>
            </li>
            <li class="p-tabs__item">
              <a href="/pending-draft" class="p-tabs__link">Pending Review</a>
            </li>
            <li class="p-tabs__item">
              <a href="/approved" class="p-tabs__link">Approved</a>
            </li>
            <li class="p-tabs__item">
              <a href="/implemented" class="p-tabs__link">Implemented</a>
            </li>
          </ul>
        </nav>
      </div>

      {% block content %}{% endblock %}

      <footer class="p-strip is-shallow">
        <div class="row">
          <div class="col-12">
            © {{ current_year }} Canonical Ltd. Ubuntu and Canonical are
            registered trademarks of Canonical Ltd.
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
