<form>
  <label for="teamSelect">Team</label>
  <select name="teamSelect" id="teamSelect">
    <option value="all">
      All teams
    </option>
    {% for team in teams %}
      <option value="{{ team }}"
              {% if request.args.get("team") == team %}selected{% endif %}>
        {{ team }}
      </option>
    {% endfor %}
  </select>
  <p class="u-no-margin--bottom">
    Status
  </p>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="approvedStatus" type="checkbox" />
    <span class="p-checkbox__label">Approved</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="activeStatus" type="checkbox" />
    <span class="p-checkbox__label">Active</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="completedStatus" type="checkbox" />
    <span class="p-checkbox__label">Completed</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="pendingReviewStatus" type="checkbox" />
    <span class="p-checkbox__label">Pending Review</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="draftingStatus" type="checkbox" />
    <span class="p-checkbox__label">Drafting</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="braindumpStatus" type="checkbox" />
    <span class="p-checkbox__label">Braindump</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="rejectedStatus" type="checkbox" />
    <span class="p-checkbox__label">Rejected</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="obsoleteStatus" type="checkbox" />
    <span class="p-checkbox__label">Obsolete</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="unknownStatus" type="checkbox" />
    <span class="p-checkbox__label">Unknown</span>
  </label>
  <p class="u-no-margin--bottom">
    Type
  </p>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="standardType" type="checkbox" />
    <span class="p-checkbox__label">Standard</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="informationalType" type="checkbox" />
    <span class="p-checkbox__label">Informational</span>
  </label>
  <label class="p-checkbox">
    <input class="p-checkbox__input" id="processType" type="checkbox" />
    <span class="p-checkbox__label">Process</span>
  </label>
  <label for="authorSelect">Author</label>
  <select name="authorSelect" id="authorSelect">
    <option value="all">
      All authors
    </option>
  </select>
  <label for="sortBy">Sort by</label>
  <select name="sortBy" id="sortBy">
    <option value="last-updated">
      Last modified
    </option>
    <option value="name">
      Name
    </option>
    <option value="index">
      Spec index
    </option>
  </select>
</form>
