{% extends "_base.html" %}

{% block content %}

<div class="p-strip--light">
  <div class="row">
    <h1>Look at all these specs!</h1>
  </div>
</div>

<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <div class="p-card u-no-padding">
        <div class="p-card__inner">
          <div class="p-label u-align--right">Drafting</div>
          <h3><a href="https://docs.google.com/document/d/1nYwXsiM8keQ1BpENzqyxbJnX9H46nwK6riD7qwjBSjI/edit?usp=drivesdk">Kerncraft: Bootable QEMU AMD64 kernel and userspace</a></h3>
          <p>Number of comments: 0</p>
        </div>
        <hr class="u-no-margin--bottom">
        <div class="p-card__inner">
          by <a href="#">Fred Lotter</a> last updated 2/10/2022 12:12:50
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="p-card u-no-padding">
        <div class="p-card__inner">
          <div class="p-label u-align--right">Braindump</div>
          <h3><a href="https://docs.google.com/document/d/1Vvvn8ZhMjD3FsqNyfn3B2M2CvLlKn2OjFWUy9gSHlDA/edit?usp=drivesdk">CephFS NFS Charm</a></h3>
          <p>Number of comments: 1</p>
        </div>
        <hr class="u-no-margin--bottom">
        <div class="p-card__inner">
          by <a href="#">Chris MacNaughton</a> last updated 1/28/2022 12:35:16
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="p-card u-no-padding">
        <div class="p-card__inner">
          <div class="p-label u-align--right">Braindump</div>
          <h3><a href="https://docs.google.com/document/d/1YZ7IWMYWLG9CHtQ2h9l8WTeY0ynLwkSTGjnNBfHzQ-E/edit?usp=drivesdk">PMEM Specification</a></h3>
          <p>Number of comments: 0</p>
        </div>
        <hr class="u-no-margin--bottom">
        <div class="p-card__inner">
          by <a href="#">Chris MacNaughton</a> last updated 12/14/2021 13:35:54
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="p-card u-no-padding">
        <div class="p-card__inner">
          <div class="p-label u-align--right">Braindump</div>
          <h3><a href="https://docs.google.com/document/d/1FRkpIVEhDIxpxaJH47tFmpKEykPgKEf-dZqUBQN53gk/edit?usp=drivesdk">Disk replacement specification</a></h3>
          <p>Number of comments: 12</p>
        </div>
        <hr class="u-no-margin--bottom">
        <div class="p-card__inner">
          by <a href="#">Luciano Lo Giudice</a> last updated 11/22/2021 16:55:19
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}