$color-navigation-background: #772953;
$increase-font-size-on-larger-screens: false;

@import "vanilla-framework";
@include vanilla;
@include vf-p-icon-comments;

.spec-card {
  display: flex;
  flex-direction: column;
  border-top: 3px solid #666;
  border-top-color: $color-negative !important;
}

.spec-card__header {
  display: flex;
  justify-content: space-between;
}

.spec-card__metadata-list {
  align-self: center;
  flex-grow: 1;
  margin: 0;
}

.spec-card__chip-container {
  flex-shrink: 0;
  margin-left: $sph--small;
}

.spec-card--drafting,
.spec-card--braindump {
  border-top-color: $color-mid-dark !important;
}

.spec-card--pending {
  border-top-color: $color-caution !important;
}

.spec-card--approved {
  border-top-color: $color-positive !important;
}

.spec-card__content {
  flex-grow: 1;
}

.spec-card__footer {
  align-items: center;
  background-color: $color-light;
  display: flex;
  justify-content: space-between;
}

.p-navigation.is-dark {
  background-color: $color-navigation-background;
}

.p-content {
  position: relative;
}

.sticky-sidebar {
  max-height: 100vh;
  padding-top: $spv--large;
  position: sticky;
  top: 0;
}

